@import 'apps/cylinder-tracker/src/cisco-theme.scss';

.dialog-title {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  padding-bottom: 8px;

}

.cylinder-display {
  background-color: mat-color(map-get($cisco-theme, primary));
  color: white;
  display: flex;
  flex-basis: 35%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  
}

.directional-action {
  display: flex;
  
  justify-content: center;
  align-items: center;
}

.mat-icon {
  font-size: 75px;
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.dialog-content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #f2f2f2;
    padding: 8px;
}

.gas-selector, .cylinder-action {
    background-color: #f2f2f2;
    border: 1px solid #eee;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8px;
    margin-bottom: 8px;
}

.gas-item {
    flex-basis: 100%;
    text-align: left;
    padding: 4px;
}

.gas-item span {
  color: red;
}

.gas-title, .cylinder-action-title {
    border-bottom: 1px solid black;
    flex-basis: 100%;
    text-align: center;
    padding: 4px;
}

.mat-radio-group {
  padding-top: 10px;
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
}

.cyl-action-remains-inuse {
  padding-top: 10px;
  text-align: center;
  flex-basis: 100%;
}
