<mat-card class="main-card">
    <mat-card-header class="form-header">
      <mat-card-title>
        <h1><b>
          <span *ngIf="origionalTitle; else elseBlock">
            Cylinder: {{ origionalTitle }}
          </span>
          <ng-template #elseBlock>Create a Cylinder</ng-template>
        </b></h1>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="cylinderForm">

        <!-- ===== CYLINDER ID ===== -->
        <mat-form-field class="full-width m-b-10">
          <input
            matInput
            placeholder="Cylinder ID"
            formControlName="cylinderID"
            type="text"/>
          <mat-error *ngIf="cylinderID.hasError('required')">
            Cylinder ID is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        
        <!-- ===== EXPIRATION DATE ===== -->
        <mat-form-field class="full-width m-b-10">
          <input 
            matInput 
            [matDatepicker]="picker"
            formControlName="expirationDate"
            placeholder="Expiration Date - MM/DD/YYYY"/>
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="expirationDate.hasError('required')">
            Expiration date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        
        <!-- ===== VENDOR ID ===== -->
        <mat-form-field class="full-width m-b-10">
          <input
            matInput
            placeholder="Vendor ID"
            type="text"
            formControlName="vendorID"/>
          <mat-error *ngIf="vendorID.hasError('required')">
            Vendor ID is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- ===== COMMON / UNCOMMON GAS CODES ===== -->
        <h3><b>EPA Gas Codes</b></h3>
        <section class="full-width gas-check-boxes" >
          <mat-checkbox class="gas-checkbox"
            name="gasCode"
            *ngFor="let code of commonGasCodes"
            (change)="gasCodeChange(gasCodeCheckBox)"
            [value]="code"
            [checked]="isGasChecked(code)"
            #gasCodeCheckBox>
            {{ code }}
          </mat-checkbox>
          <ng-container *ngIf="showMoreGases">
            <mat-checkbox 
              class="gas-checkbox" 
              name="gasCode"
              *ngFor="let code of uncommonGasCodes"
              (change)="gasCodeChange(gasCodeCheckBox)"
              [value]="code"
              [checked]="isGasChecked(code)"
              #gasCodeCheckBox>
              {{ code }}
            </mat-checkbox>
          </ng-container>
          <button 
            mat-button 
            class="show-more-btn" 
            (click)="showMoreGases = !showMoreGases">
            {{ showMoreGases ? "Show Less" : "Show More" }}
          </button>
        </section>

        <!-- ===== BAL GAS CODES ===== -->
        <h3><b>Balance Gas codes</b></h3>
        <section class="full-width gas-radios">
          <mat-checkbox
            class="bal-code-checkbox"
            name="balCode"
            *ngFor="let code of balCodes"
            (change)="gasCodeChange(gasCodeCheckBox)"
            [value]="code"
            [checked]="isGasChecked(code)"
            #gasCodeCheckBox>
            {{ code }} ({{code === 'BALN' ? 'Nitrogen' : 'Air'}})
          </mat-checkbox>
        </section>
        <mat-error *ngIf="!balCodeSelected">
          Must select a balance code.
        </mat-error>

        <!-- ===== OTHER GAS CODES ===== -->
        <h3><b>Other</b></h3>
        <section class="full-width gas-radios">
          <ng-container *ngIf="showMoreOtherGases">
            <mat-checkbox
              class="bal-code-checkbox"
              name="otherCode"
              *ngFor="let code of otherCodes"
              (change)="gasCodeChange(gasCodeCheckBox)"
              [value]="code"
              [checked]="isGasChecked(code)"
              #gasCodeCheckBox>
              {{ code }}
            </mat-checkbox>
          </ng-container>
          <button 
            mat-button 
            class="show-more-btn" 
            (click)="showMoreOtherGases = !showMoreOtherGases">
            {{ showMoreOtherGases ? "Show Less" : "Show More" }}
          </button>
        </section>
        
        <!-- ===== STRING OF GASES ===== -->
        <h3><b>Component Gases</b></h3>
        <mat-form-field class="full-width">
          <input 
            matInput
            type="text"
            name="gasCodeString"
            (change)="gasCodeChange(gasCodeString); $event.stopImmediatePropagation()"
            #gasCodeString
            [value]="getGasCodeString()"/>
          <mat-error *ngIf="epaGasTypeCodes.hasError('required')">
            Gas codes are <strong>required</strong>
          </mat-error>
        </mat-form-field>
            
        <!-- ===== COMPONENT GAS ITEM DISPLAY ===== -->
        <section class="full-width">
          <mat-list class="component-gas-list"> 
            <mat-list-item
              class="component-gas-item mat-elevation-z8"
              *ngFor="let gas of componentGases.controls"
              [formGroup]="gas">
              <mat-label class="component-gas-label">{{ gas.value['qaGasDefCode'] }}</mat-label>
              <mat-divider [inset]="true" [vertical]="true"></mat-divider>

              <!-- ===== GAS MEASUREMENT ===== -->
              <mat-form-field>
                <mat-label>Concentration</mat-label>
                <input
                  matInput
                  type="number"
                  min="1"
                  formControlName="gasConcentration"/>
              </mat-form-field>

              <!-- ===== UNIT OF MEASURE ===== -->
              <mat-form-field>
                <mat-label>Unit of Measure</mat-label>
                <mat-select formControlName="uom">
                  <mat-option
                    *ngFor="let type of measurementTypes"
                    [value]="type">
                    {{ type }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-list-item>
          </mat-list>
        </section>
      </form>
    </mat-card-content>

    <!-- ===== EDIT CYLINDER BUTTONS ===== -->
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button type="submit" mat-button [mat-dialog-close]="{'cyl': cylinderForm.value, 'cylID': currentCylinder.id}" color="primary">
          Save
      </button>
      <button type="button" mat-button (click)="onClearCylinder()">
        Clear Form
      </button>
      <button type="button" mat-button (click)="onCancel()">
        Cancel
      </button>
    </mat-card-actions>
    <!-- <p>{{ cylinderForm.value | json }}</p> -->
  </mat-card>
