<!-- <div class="card">
  <h4 class="card-header">You're logged in with Angular 9 & JWT!!</h4>
  <div class="card-body">
      <h6>Users from secure api end point</h6>
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      <ul *ngIf="users">
          <li *ngFor="let user of users">{{user.username}} {{user.email}}</li>
      </ul>
  </div>
</div> -->

<mat-grid-list cols="2" gutterSize="10px" rowHeight="91vh">
  <mat-grid-tile>
    <cylinder-tracker-available-cylinders
      [cylinders]="cylinders$ | async"
      [qaGasProfiles]="gasProfiles$ | async"
      (cylinderSelected)="selectCylinder($event)"
      (retireCylinder)="retireCylinder($event)"
      (cylinderDropped)="cylinderDrop($event)"
      (editCylinder)="editCylinder($event)"
    >
    </cylinder-tracker-available-cylinders>
  </mat-grid-tile>
  <mat-grid-tile>
    <cylinder-tracker-assign-cylinders
      [cylinders]="cylinders$ | async"
      [qaGasProfiles]="gasProfiles$ | async"
      (cylinderSelected)="selectCylinder($event)"
      (cylinderDropped)="cylinderDrop($event)"
      (retireCylinder)="retireCylinder($event)"
      (editCylinder)="editCylinder($event)"
    ></cylinder-tracker-assign-cylinders>
  </mat-grid-tile>
</mat-grid-list>
