<mat-grid-list cols="2" gutterSize="10px">
  <mat-grid-tile>
    <cylinder-tracker-spares-list
      [cylinders]="cylinders$ | async"
      (selected)="selectCylinder($event)"
      (deleted)="deleteCylinder($event)"
      (dropped)="drop($event)"
    >
    </cylinder-tracker-spares-list>
  </mat-grid-tile>
  <!-- <mat-grid-tile>
    <cylinder-tracker-globs
      [cylinders]="cylinders$ | async"
      (selected)="selectCylinder($event)"
      (deleted)="deleteCylinder($event)"
      (dropped)="drop($event)"
    ></cylinder-tracker-globs>
  </mat-grid-tile> -->
  <mat-grid-tile>
    <cylinder-tracker-in-use
      [cylinders]="cylinders$ | async"
      (selected)="selectCylinder($event)"
      (deleted)="deleteCylinder($event)"
      (dropped)="drop($event)"
    ></cylinder-tracker-in-use>
  </mat-grid-tile>
</mat-grid-list>
