<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>In Use Cylinders</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="scrollable">
    <mat-list
      cdkDropList
      id="inUseDropList"
      (cdkDropListDropped)="dropped.emit($event)"
      [cdkDropListData]="inUseCylinders"
      [cdkDropListConnectedTo]="['sparesDropList']"
    >
      <mat-list-item
        cdkDrag
        *ngFor="let cylinder of inUseCylinders"
        (click)="selected.emit(cylinder)"
      >
        <h3 mat-line>Cylinder ID: {{ cylinder.cylinderID }}</h3>
        <h3 mat-line>Expiration Date: {{ cylinder.expirationDate }}</h3>
        <p mat-line>
          Gas Codes:
          <span *ngFor="let code of cylinder.epaGasTypeCodes">{{ code }} </span>
        </p>
        <button
          mat-icon-button
          *ngIf="!readonly"
          (click)="deleted.emit(cylinder); $event.stopImmediatePropagation()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
