<div class="cylinder-item-color-bar"></div>
<div class="flex1">
  <h2 class="cylinder-item-id">Cylinder ID: {{ cylinder.cylinderID }}</h2>
  <div class="cylinder-item-gas-codes">
    Gas Codes:
    <span *ngFor="let code of cylinder.epaGasTypeCodes" class="gas-code">
      {{ code }}
    </span>
  </div>
  <h3 class="cylinder-item-expiration">
    Expiration Date: {{ cylinder.expirationDate }}
  </h3>
  <mat-expansion-panel
    class="cylinder-item-assigned-gases"
    *ngIf="isAssignedCylinder"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Assigned Gas Profiles:
      </mat-panel-title>
      <mat-panel-description>
        <div
          class="gas-profiles-gases"
          *ngFor="let gasProfile of findAssignedGasProfiles(cylinder)"
        >
          ({{ gasProfile.cedarGasCode }})
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p *ngFor="let gasProfile of findAssignedGasProfiles(cylinder)">
      {{ gasProfile.name }}
    </p>
  </mat-expansion-panel>
</div>
<div class="flex2">
  <button mat-icon-button [matMenuTriggerFor]="cylinderMenu">
    <mat-icon>more_horiz</mat-icon>
  </button>
  <mat-menu #cylinderMenu="matMenu">
    <button mat-menu-item *ngIf="isAssignedCylinder">
      <mat-icon>assignment_return</mat-icon>
      <span>Unassign Cylinder</span>
    </button>
    <button mat-menu-item>
      <mat-icon>edit</mat-icon>
      <span>Edit Cylinder</span>
    </button>
    <button mat-menu-item (click)="cylinderDeleted.emit(cylinder)">
      <mat-icon>delete</mat-icon>
      <span>Retire Cylinder</span>
    </button>
  </mat-menu>
</div>
