@import 'apps/cylinder-tracker/src/cisco-theme.scss';

.color-bar-spare {
  background-color: $cylinder-tracker-accent;
  width: 15px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.color-bar-assigned {
  background-color: $cylinder-tracker-green;
  width: 15px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

mat-icon {
  font-size: 34px;
}

.cylinder-item-content {
  display: flex;
  justify-content: space-between;
  flex-basis: 90%;
  flex-wrap: wrap;
  align-items: center;
  
}

.cylinder-item-id,
.cylinder-item-expiration {
  flex-basis: 40%;
  margin-top: 6px;
  margin-bottom: 6px;
}

.cylinder-item-gas-codes,
.cylinder-item-assigned-gases {
  flex-basis: 60%;
  margin-top: 6px;
  margin-bottom: 6px;
}

.cylinder-item-id {
  font-weight: bold;
}

.cylinder-item-gas-codes {
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gas-code-item {
  display: flex;
  margin: 4px;
}

.gas-code {
  font-weight: bold;
  padding: 10px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  //background-color: mat-color(map-get($cisco-theme, primary));
  background-color: $cylinder-tracker-primary;
  color: white;
}

.gas-concentration {
  background-color: $cylinder-tracker-secondary2;
  font-weight: bold;
  padding: 10px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.options-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  flex-basis: 5%;
}


