<cylinder-tracker-home-card [cardTitle]="'Assign Cylinders'">
  <ng-container class="card-filters">
    <ui-select-autocomplete
      [selectTitle]="selectTitleCylinder"
      [options]="unitNums"
      (selectionChange)="unitNumSelected($event)"
    >
    </ui-select-autocomplete>
    <cedar-all-ui-filter-chips
      [filterItemName]="filterItemName"
      [allItems]="gasTypes"
      (selectionChange)="gasTypeSelected($event)"
    >
    </cedar-all-ui-filter-chips>
  </ng-container>
  <cylinder-tracker-home-tab-group
    class="card-content"
    [tabLeftLabel]="'In-Service Cylinders'"
    [tabRightLabel]="'Gas Profiles'"
  >
    <ul class="inUseDropList tab-left-content">
      <div *ngIf="crossCardFilters.filterItem" class="test">
        <span>Filtered For: {{crossCardFilters.filterItem}}</span>
        <button
          mat-raised-button
          class="clear-filters-button"
          (click)="clearFilters()"
        >
          Clear Filters
        </button>
      </div>
      <li>
        <cylinder-tracker-cylinder-item
          *ngFor="
            let cylinder of inUseCylinders
              | cylinderFilter
                : (filterForOtherCard ? crossCardFilters : cylinderFilters)
                : gasProfiles;
            let i = index
          "
          cdkDropList
          id="{{ 'inUseDropList' + i }}"
          (cdkDropListDropped)="cylinderDropped.emit($event)"
          [cdkDropListData]="[cylinder]"
          [cdkDropListConnectedTo]="['sparesDropList', 'inUseDropList']"
          [cylinder]="cylinder"
          [isAssignedCylinder]="true"
          [disableItemDrag]="true"
          [gasProfiles]="gasProfiles"
          (cylinderDropped)="cylinderDropped.emit($event)"
          (cylinderSelected)="cylinderSelected.emit($event)"
          (retireCylinder)="retireCylinder.emit($event)"
          (unassignCylinder)="unassignCylinder.emit($event)"
          (editCylinder)="editCylinder.emit($event)"
          (filterOtherCard)="filterOtherCard.emit($event)"
        >
        </cylinder-tracker-cylinder-item>
      </li>
    </ul>
    <ul class="gas-profile-list tab-right-content">
      <div *ngIf="crossCardFilters.filterItem" class="test">
        <span>Filtered For: {{crossCardFilters.filterItem}}</span>
        <button
          mat-raised-button
          class="clear-filters-button"
          (click)="clearFilters()"
        >
          Clear Filters
        </button>
      </div>
      <cylinder-tracker-gas-profile-item
        [gasProfiles]="gasProfiles"
        [gasProfileFilters]="
          filterForOtherCard ? crossCardFilters : gasProfileFilters
        "
        (cylinderDropped)="cylinderDropped.emit($event)"
        (filterOtherCard)="filterOtherCard.emit($event)"
      >
      </cylinder-tracker-gas-profile-item>
    </ul>
  </cylinder-tracker-home-tab-group>
</cylinder-tracker-home-card>
