<cylinder-tracker-home-card [cardTitle]="'Available Cylinders'" class="cylinders-card">
  <ng-container class="card-title-content">
    <button mat-raised-button (click)="editCylinder.emit(null)">Add Cylinder</button>
  </ng-container>

  <!-- FILTERS SECTION -->
  <ng-template #filterSection>
    <div class="card-filters">
      <div class="filter-input-section">
        <ui-select-autocomplete
          [selectTitle]="'Cylinder State'"
          [options]="['spare', 'inUse']"
          (selectionChange)="cylinderStateSelected($event);"
          [clearItems]="clearFilterItems">
        </ui-select-autocomplete>

        <mat-expansion-panel class="test-panel" #myPanel>
          <mat-expansion-panel-header class="test-panel-content">
            <cedar-all-ui-filter-chips 
              (click)="$event.stopPropagation()"
              #gasFilterChips
              [filterItemName]="'Gas Type'"
              [allItems]="commonGasTypes"
              (selectionChange)="gasTypeSelected($event);"
              [clearItems]="clearFilterItems">
            </cedar-all-ui-filter-chips>
          </mat-expansion-panel-header>
          <div class="concentration-inputs mat-elevation-z8" *ngFor="let gasConc of this.cylinderFilters.concentrations">
            <div [class]="gasConc.cedarGasCode"><span>{{ gasConc.cedarGasCode }}</span></div>
            <mat-form-field class="conc-input">
              <mat-label>Min</mat-label>
              <input matInput 
                placeholder="Ex. 10" 
                [(ngModel)]="gasConc.allowableGasValueMin" 
                (ngModelChange)="gasConc.changed = true"
                [ngModelOptions]="{standalone: true}" 
                type="number">
            </mat-form-field>
            <mat-form-field class="conc-input">
              <mat-label>Max</mat-label>
              <input matInput 
                placeholder="Ex. 45" 
                [(ngModel)]="gasConc.allowableGasValueMax" 
                (ngModelChange)="gasConc.changed = true"
                [ngModelOptions]="{standalone: true}" 
                type="number">
            </mat-form-field>
            <mat-form-field class="conc-uom-input">
              <mat-label>UOM</mat-label>
              <input matInput 
                placeholder="Ex. ppm"
                [(ngModel)]="gasConc.uom" 
                (ngModelChange)="gasConc.changed = true"
                [ngModelOptions]="{standalone: true}" 
                [matAutocomplete]="auto">
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of ['ppm', 'ppb', '%']" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          
            <button mat-button class="apply-conc-btn" [disabled]="!gasConc.changed" (click)="gasConc.changed = false; refreshFiltersVariables()">
              Apply Changes
            </button>
            <button mat-button class="clear-concs-btn" (click)="clearConcInputs(gasConc)">
              Clear
            </button>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="filter-btn-section">
        <!-- <button mat-button class="clear-filters-btn" (click)="null">Advanced Filters</button> -->
        <button mat-button class="clear-filters-btn" (click)="clearFilters()">Clear Filters</button>
      </div>
    </div>

    <!-- HEADER ROW FOR CYLINDRS LIST -->
    <div class="cylinders-header-row" [class.header-row-less-padding]="!scrollBarVisible" [class.header-row-padding]="scrollBarVisible">
      <div class="color-bar-space">
        <mat-icon class="icon-space">turned_in</mat-icon>
      </div>
      <div class="cylinders-header-row-content">
        <div class="cylinders-header-row-padding">
          <span class="cylinder-header-info">
            <span>Cylinder ID</span>
            <span>Exp Date</span>
            <span>Vendor ID</span>
            <div class="cylinders-header-gases">
              <div 
                *ngFor="let gas of existingGasTypes"
                (click)="onGasHeaderClick(gas)"
                [class]="gas">
                {{ gas }}
              </div>
            </div>
          </span>
          <span class="expansion-icon-space"></span>
        </div>
      </div>
      <div class="options-button-space"></div>
    </div>
  </ng-template>

  <!-- LIST OF CYLINDER ITEMS -->
  <div class="card-content cylinder-list">
    <ng-container *ngTemplateOutlet="filterSection" class="tab-left-top-content"></ng-container>
    <ul
      cdkDropList
      id="sparesDropList"
      (cdkDropListDropped)="cylinderDropped.emit($event)"
      [cdkDropListData]="spareCylinders"
      [cdkDropListConnectedTo]="dropListConnections"
      cdkDropListSortingDisabled>
      <cdk-virtual-scroll-viewport #scroller itemSize="50" class="test">
        <li
          cdkDrag
          *cdkVirtualFor="let cylinder of allCylinders 
            | cylinderFilter : cylinderFilters;
            trackBy: trackCylinder"
          [cdkDragData]="cylinder"
          (click)="cylinderSelected.emit(cylinder)">
          <cylinder-tracker-cylinder-item
            class="mat-elevation-z8 cylinder-item-border-spare"
            [cylinder]="cylinder"
            [isAssignedCylinder]="false"
            [units]="units"
            [existingGasTypes]="existingGasTypes"
            [cylAssignedProfiles]="cylAssignedProfiles"
            (cylinderDropped)="cylinderDropped.emit($event)"
            (cylinderSelected)="cylinderSelected.emit($event)"
            (retireCylinder)="retireCylinder.emit($event)"
            (editCylinder)="editCylinder.emit($event)"
            (filterOtherCard)="filterOtherCardCall($event)"
            (createSimilarCyl)="createSimilarCyl.emit($event)">
          </cylinder-tracker-cylinder-item>
        </li>
        <li class="empty-bottom-item"></li>
        <li *ngIf="cylindersListEmpty" class="no-matches-message">
          <mat-icon>sentiment_very_dissatisfied</mat-icon>
          <b>NO CYLINDERS MATCH YOUR SEARCH</b>
        </li>
      </cdk-virtual-scroll-viewport>
    </ul>
  </div>
</cylinder-tracker-home-card>
