<mat-card>
  <div class="title-section">
    <h1>Available Cylinders</h1>
    <button mat-raised-button>Add Cylinder</button>
  </div>
  <div class="filter-section">
    <cedar-all-ui-filter-chips
      [filterItemName]="selectTitleCylinder"
      [allItems]="cylinderIDs"
      (selectionChange)="cylinderIDSelected($event)"
    >
    </cedar-all-ui-filter-chips>
    <ui-date-picker
      [datePickerTitle]="datePickerTitle"
      (dateSelected)="dateSelected($event)"
    >
    </ui-date-picker>
    <cedar-all-ui-filter-chips
      [filterItemName]="filterItemName"
      [allItems]="gasTypes"
      (selectionChange)="gasTypeSelected($event)"
    >
    </cedar-all-ui-filter-chips>
  </div>
  <mat-tab-group mat-stretch-tabs backgroundColor="primary" color="accent">
    <mat-tab label="Spare Cylinders">
      <cylinder-tracker-cylinder-item
        [cylinders]="filteredSpareCylinders"
        (cylinderDropped)="cylinderDropped.emit($event)"
        (cylinderSelected)="cylinderSelected.emit($event)"
        (cylinderDeleted)="cylinderDeleted.emit($event)"
      >
      </cylinder-tracker-cylinder-item>
    </mat-tab>
    <mat-tab label="In-Service Cylinders">
      <cylinder-tracker-cylinder-item
        [cylinders]="filteredInUseCylinders"
        (cylinderDropped)="cylinderDropped.emit($event)"
        (cylinderSelected)="cylinderSelected.emit($event)"
        (cylinderDeleted)="cylinderDeleted.emit($event)"
      >
      </cylinder-tracker-cylinder-item>
    </mat-tab>
  </mat-tab-group>
</mat-card>
