@import 'apps/cylinder-tracker/src/cisco-theme.scss';

ui-select-autocomplete {
  flex-basis: 19%;
  padding-top: 12px;
}



// Gas Type Filter / Expansion Panel
.test-panel {
  padding-top: 15px;
  flex-basis: 76%;
  box-shadow: none !important;
  background: none;
  
  cedar-all-ui-filter-chips {
    width: 100%;
  }

  .concentration-inputs {
    display: flex;
    justify-content: space-between;
    margin: 3px;
    border-radius: 6px;
    border: 1px solid #E1E1E1;

    div {
      display: flex;
      justify-content: center;
      padding: 3px;
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
      width: 35px;

      span {
        align-self: center;
      }
    }
      
    .conc-input {
      width: 125px;
      padding-top: 5px;
    }

    .conc-uom-input {
      width: 50px;
      padding-top: 5px;
    }
  
    .apply-conc-btn {
      width: 125px;
    }

    .clear-concs-btn {
      width: 50px;
    }
  }

  .test-gas-filter-concs {
    display: flex;
    align-items: center;
  }
}


.clear-filters-button {
  flex-basis: 12%;
}



::ng-deep {
  .cylinders-card {
    .mat-card {
      background-color: $cylinder-tracker-primary !important;
    }
  }

  .test-panel .mat-expansion-panel-body {
    overflow: auto;
    max-height: 40vh;
  }

  .mat-tab-body {
    background-color: white;
  }

  .mat-form-field-infix.mat-form-field-infix.mat-form-field-infix {
    opacity: 1 !important;
  }
}
// TODO: Remove ng deep




.cylinder-list {
  background-color: white;
}

button.mat-raised-button:hover {
  background-color: $cylinder-tracker-accent;
}

#sparesDropList, #inUseDropList {
  overflow: auto;
  padding: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.test {
  height: 68vh;
}

.empty-bottom-item {
  height: 25px;
}

cylinder-tracker-cylinder-item {
  margin-bottom: 3px;
  margin-right: 3px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
}

.cylinder-item-border-spare {
  border: 1px solid #E1E1E1;
}

.cylinder-item-border-inUse {
  border: 1px solid $cylinder-tracker-accent-light;
}

.border-red {
  border: 1px solid red;
}

cylinder-tracker-cylinder-item:hover {
  background-color: #E1E1E1;
}

li {
  list-style-type: none;
}

.cdk-drag-placeholder {
  display: none;
}

.cdk-drag-preview * {
  transform: scale(0.8);
}

.filtered-by-click {
  background-color: white;
  border: 1px solid gray;
  padding: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  display: flex;
  font-size: large;
  align-items: center;
  flex-basis: 100%;
}

.filtered-by-click > span {
  flex-basis: 100%;
}

.filtered-by-click > button {
  flex-basis: 15%;
}

.card-filters {
  background-color: #E8E8E8;
  display: flex;
  flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: lightgray solid 1px;
}

.filter-input-section {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}

.filter-btn-section {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
}

#sparesDropList {
    margin: 0;
    padding-top: 2px;
}

.header-row-less-padding {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  margin-left: 17px;
  margin-right: 16px;
}

.header-row-padding {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 21px;
  margin-left: 17px;
  margin-right: 16px;
}

.cylinders-header-row {
  display: flex;
  justify-content: space-between;
  background-color: #E1E1E1;

  .color-bar-space {
    flex-basis: 2%;

    .icon-space {
      visibility: hidden;
    }
  }

  .cylinders-header-row-content {
    flex-basis: 93%;
    display: flex;
    justify-content: space-between;

    .cylinders-header-row-padding {
      width: 100%;
      padding-left: 24px;
      padding-right: 24px;
      display: flex;

      .cylinder-header-info {
        width: 100%;
        display: flex;
        justify-content: space-around;

        span {
          text-align: center;
          background-color: gray;
          flex-basis: 12%;
          color: white;
        }
    
        .cylinders-header-gases {
          flex-basis: 60%;
          display: flex;
          justify-content: space-around;
      
          div {
            text-align: center;
            flex-basis: 15%;
            cursor: pointer;
          }
        }
      }
      .expansion-icon-space {
        width: 8px;
      }
    }
  }
  .options-button-space {
    flex-basis: 5%;
    padding-right: 10px;
  }
}

.no-matches-message {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  mat-icon {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
}
