<cylinder-tracker-home-card [cardTitle]="'Available Cylinders'">
  <ng-container class="card-title-content">
    <button mat-raised-button>Add Cylinder</button>
  </ng-container>
  <ng-container class="card-filters">
    <ui-select-autocomplete
      *ngIf="filtersForSpares"
      [selectTitle]="selectTitleCylinder"
      [options]="cylinderIDs"
      (selectionChange)="cylinderIDSelected($event)"
    >
    </ui-select-autocomplete>
    <ui-select-autocomplete
      *ngIf="!filtersForSpares"
      [selectTitle]="selectTitleCylinder"
      [options]="unitNums"
      (selectionChange)="unitNumSelected($event)"
    >
    </ui-select-autocomplete>
    <cedar-all-ui-filter-chips
      [filterItemName]="filterItemName"
      [allItems]="gasTypes"
      (selectionChange)="gasTypeSelected($event)"
    >
    </cedar-all-ui-filter-chips>
  </ng-container>
  <cylinder-tracker-home-tab-group
    class="card-content"
    [tabLeftLabel]="'Spare Cylinders'"
    [tabRightLabel]="'In-Service Cylinders'"
    (selectedTabChange)="tabChanged($event)"
  >
    <ul
      class="tab-left-content"
      cdkDropList
      id="sparesDropList"
      (cdkDropListDropped)="cylinderDropped.emit($event)"
      [cdkDropListData]="spareCylinders"
      [cdkDropListConnectedTo]="dropListConnections"
      cdkDropListSortingDisabled
    >
      <div *ngIf="crossCardFilters.filterItem" class="test">
        <span>Filtered For: {{ crossCardFilters.filterItem }}</span>
        <button
          mat-raised-button
          class="clear-filters-button"
          (click)="clearFilters()"
        >
          Clear Filters
        </button>
      </div>
      <li
        cdkDrag
        *ngFor="
          let cylinder of spareCylinders
            | cylinderFilter
              : (filterForOtherCard ? crossCardFilters : cylinderFilters);
          trackBy: trackCylinder
        "
        [cdkDragData]="cylinder"
        (click)="cylinderSelected.emit(cylinder)"
      >
        <cylinder-tracker-cylinder-item
          class="cylinder-item-border-accent"
          [cylinder]="cylinder"
          [isAssignedCylinder]="false"
          (cylinderDropped)="cylinderDropped.emit($event)"
          (cylinderSelected)="cylinderSelected.emit($event)"
          (retireCylinder)="retireCylinder.emit($event)"
          (editCylinder)="editCylinder.emit($event)"
          (filterOtherCard)="filterOtherCard.emit($event)"
        >
        </cylinder-tracker-cylinder-item>
      </li>
    </ul>
    <ul
      class="tab-right-content"
      cdkDropList
      id="inUseDropList"
      (cdkDropListDropped)="cylinderDropped.emit($event)"
      [cdkDropListData]="inUseCylinders"
      [cdkDropListConnectedTo]="dropListConnections"
      cdkDropListSortingDisabled
    >
      <div *ngIf="crossCardFilters.filterItem" class="test">
        <span>Filtered For: {{ crossCardFilters.filterItem }}</span>
        <button
          mat-raised-button
          class="clear-filters-button"
          (click)="clearFilters()"
        >
          Clear Filters
        </button>
      </div>
      <li
        cdkDrag
        *ngFor="
          let cylinder of inUseCylinders
            | cylinderFilter
              : (filterForOtherCard ? crossCardFilters : cylinderFilters)
              : gasProfiles
        "
        [cdkDragData]="cylinder"
        (click)="cylinderSelected.emit(cylinder)"
      >
        <cylinder-tracker-cylinder-item
          class="cylinder-item-border-green"
          [cylinder]="cylinder"
          [isAssignedCylinder]="true"
          [gasProfiles]="gasProfiles"
          [cylAssignedProfiles]="cylAssignedProfiles"
          (cylinderDropped)="cylinderDropped.emit($event)"
          (cylinderSelected)="cylinderSelected.emit($event)"
          (retireCylinder)="retireCylinder.emit($event)"
          (editCylinder)="editCylinder.emit($event)"
          (filterOtherCard)="filterOtherCard.emit($event)"
        >
        </cylinder-tracker-cylinder-item>
      </li>
    </ul>
  </cylinder-tracker-home-tab-group>
</cylinder-tracker-home-card>
