@import 'apps/cylinder-tracker/src/cisco-theme.scss';

mat-card {
  padding: 0;
  height: 100%;
}

.title-section {
  padding: 16px;
  background-color: mat-color(map-get($cisco-theme, primary));
  color: white;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: bold;
}

.title-section>h1 {
  font-weight: bold;
}

.filter-section {
  display: flex;
  padding: 16px;
  background-color: mat-color(map-get($cisco-theme, primary));
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;
}

ui-select-autocomplete, ui-date-picker, cedar-all-ui-filter-chips {
  flex-basis: 32%;
}

::ng-deep {

  mat-tab-header {
    padding-right: 16px;
    padding-left: 16px;
  }

  .date-picker {
    background-color: white;
    color: black;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
  }

  .mat-form-field-wrapper.mat-form-field-wrapper {
    padding: 0;
  }

  .select-autocomplete .mat-form-field-wrapper, .chip-list .mat-form-field-wrapper {
    padding: 0 0.75em 0.84375em 0.75em;
  }

  .chip-list {
    background-color: white;
    color: black;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white;
  }

  .select-autocomplete {
    background-color: white;
    color: black;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
  }

  mat-tab-body {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
  }
}

button.mat-raised-button:hover {
  background-color: mat-color(map-get($cisco-theme, accent));
}

#sparesDropList, #inUseDropList {
  overflow: auto;
  height: 65vh;
  padding: 0;
}

#sparesDropList::-webkit-scrollbar, #inUseDropList::-webkit-scrollbar {
  display: none;
}

cylinder-tracker-cylinder-item {
  margin-bottom: 24px;
  padding: 6px;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: space-between;
  background-color: white;
}

cylinder-tracker-cylinder-item:hover {
  background-color: #f2f2f2;
}

li {
  list-style-type: none;
}