<li
  class="gas-profile-item mat-elevation-z8"
  [ngClass]="gasProfile.errorInfo ? 'border-red' : 'border-normal'"
  *ngFor="let gasProfile of gasProfiles 
    | gasProfileFilter: gasProfileFilters; 
    let i = index"
  cdkDropList
  id="{{ 'gasProfileDropList' + i }}"
  (cdkDropListDropped)="cylinderDropped.emit($event)"
  [cdkDropListData]="[gasProfile]"
  [cdkDropListConnectedTo]="['sparesDropList', 'inUseDropList']">
  <div [ngClass]="gasProfile.errorInfo ? 'color-bar-error' : 'gas-item-color-bar'"></div>
  <div class="gas-item-content" (click)="filterOtherCard.emit(gasProfile)">
    <h2 class="gas-item-title">
      <span class="unit-text">{{ getUnitName(gasProfile.unit) }}</span>
      <div>{{ gasProfile.desc }}</div>
    </h2>

    <div class="gas-profile-gas-codes">
      <div class="gas-code-item mat-elevation-z8"
        [class]="gasProfile.cedarGasCode">
        <span class="gas-code">{{ gasProfile.cedarGasCode }}</span>
        <span class="min-value">Allowable:  {{ gasProfile.allowableGasValueMin }} - {{ gasProfile.allowableGasValueMax }} {{gasProfile.uom}}</span>
      </div>
    </div>

    <div class="gas-item-error-field mat-elevation-z8" *ngIf="gasProfile.errorInfo; else noErrors">
      <div *ngFor="let error of gasProfile.errorInfo">- {{error.errorMsg}}</div>
    </div>
    <ng-template #noErrors><div class="no-errors"></div></ng-template>
    
    <div class="assigned-cylinder mat-elevation-z8" *ngFor="let cyl of findAssignedCyl(gasProfile.cylID)">
      <div class="cylinder-item-id">
        <h2>Cylinder ID: {{ cyl.cylinderID }}</h2>
        <h3>Expires: {{ parseDate(cyl.expirationDate) | date }}</h3>
        <h3>Vendor ID: {{ cyl.vendorID }}</h3>
      </div>
      <div class="cylinder-item-gas-codes">
        <div *ngFor="let gas of this.gasSorter(cyl.componentGases, 'epaGasCode')" class="gas-code-item mat-elevation-z8">
          <span 
            class="gas-code"
            *ngIf="commonGasTypes.includes(gas.epaGasCode.toUpperCase())"
            [class]="gas.epaGasCode">
            {{ gas.epaGasCode }}
          </span>
          <span 
            *ngIf="commonGasTypes.includes(gas.epaGasCode.toUpperCase())"
            class="gas-concentration"
            [class]="gas.epaGasCode">
            {{ gas.gasConcentration }} {{ gas.uom }}
          </span>
        </div>
      </div>
    </div>
  </div>
</li>
