@import 'apps/cylinder-tracker/src/cisco-theme.scss';

.gas-profile-item {
  margin-bottom: 25px;
  //border: 1px solid $cylinder-tracker-primary2;
  border-radius: 6px;
  //box-shadow: 0 1px 3px 0 $cylinder-tracker-primary2;
  border: 1px solid $cylinder-tracker-accent;
  box-shadow: 0 1px 3px 0 $cylinder-tracker-accent;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.gas-profile-item:hover {
  background-color: #E1E1E1;
}

.gas-item-color-bar {
  background-color: $cylinder-tracker-accent;
  // background-color: $cylinder-tracker-primary2;
  width: 15px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.gas-item-content {
  display: flex;
  justify-content: space-between;
  flex-basis: 95%;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 15px;
}

.gas-item-title,
.gas-item-unit,
.gas-profile-gas-codes,
.assigned-cylinder {
  flex-basis: 50%;
  margin-top: 6px;
  margin-bottom: 6px;
}

.gas-item-title {
  font-weight: bold;
}

.assigned-cylinder {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #A9A9A9;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.assigned-cylinder > div {
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 8px;
}

.unit-text {
  background-color: #A9A9A9;
  padding: 8px;
  border-radius: 6px;
  font-weight: bold;
}

.no-cylinder-assigned-text {
  color: red !important;
}

.gas-profile-gas-codes {
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}

.gas-code-item {
  display: flex;
  margin: 5px;
}

.gas-code {
  font-weight: bold;
  padding: 10px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  //background-color: mat-color(map-get($cisco-theme, primary));
  background-color: $cylinder-tracker-primary;
  color: white;
}

.gas-concentration {
  background-color: $cylinder-tracker-secondary2;
  font-weight: bold;
  padding: 10px;
  
}

.max-value, .min-value {
  background-color: lightgray;
  font-weight: bold;
  padding: 10px;
}

.min-value {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
