<li
  class="gas-profile-item"
  *ngFor="let gasProfile of gasProfiles | gasProfileFilter: gasProfileFilters; let i = index"
  cdkDropList
  id="{{ 'gasProfileDropList' + i }}"
  (cdkDropListDropped)="cylinderDropped.emit($event)"
  [cdkDropListData]="[gasProfile]"
  [cdkDropListConnectedTo]="['sparesDropList', 'inUseDropList']"
>
  <div class="gas-item-color-bar"></div>
  <div class="gas-item-content" (click)="filterOtherCard.emit(gasProfile)">
    <h2 class="gas-item-title">
      {{ gasProfile.desc }}
    </h2>
    <div class="gas-profile-gas-codes">
      <div class="gas-code-item">
        <span class="gas-code">{{ gasProfile.cedarGasCode }}</span>
        <span class="gas-concentration">{{ gasProfile.cylGasConc }} {{ gasProfile.uom }}</span>
        <span class="max-value">Max: [{{ gasProfile.allowableGasValueMax }} {{gasProfile.uom}}]</span>
        <span class="min-value">Min: [{{ gasProfile.allowableGasValueMin }} {{gasProfile.uom}}]</span>
      </div>
    </div>
    <div class="gas-item-unit"><span class="unit-text">Unit: {{ gasProfile.unit }}</span></div>
    
    <div class="assigned-cylinder">
      <div *ngIf="gasProfile.cylID; else no_assigned_cylinder">
        Assigned Cylinder: {{ gasProfile.cylID }}
      </div>
      <ng-template #no_assigned_cylinder
        ><div class="no-cylinder-assigned-text">
          No Cylinder Assigned
        </div></ng-template
      >
    </div>
  </div>
</li>
