<div class="container">
  <!-- PROJECTS LIST -->
  <div class="col-50">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Projects</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item (click)="selectCylinder(cylinder)" *ngFor="let cylinder of cylinders$ | async">
            <h3 mat-line [style.color]="primaryColor">
              {{cylinder.title}}
            </h3>
            <p mat-line>
              {{cylinder.details}}
            </p>
            <button mat-icon-button 
              (click)="deleteCylinder(cylinder); $event.stopImmediatePropagation()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- PROJECT DETAILS -->
  <div class="col-50">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>
            <span *ngIf="selectedCylinder; else elseBlock">{{selectedCylinder.title}}</span>
            <ng-template #elseBlock>Select a Project</ng-template>
          </h1>
        </mat-card-title>
      </mat-card-header>
      <form>
        <mat-card-content>
          <pre>{{selectedCylinder | json}}</pre>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-button color="primary">Save</button>
          <button type="button" mat-button (click)="cancel()">Cancel</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>