<div class="container">
  <div class="col-50">
    <cylinder-tracker-spares-list
      [cylinders]="cylinders$ | async"
      (selected)="selectCylinder($event)"
      (deleted)="deleteCylinder($event)"
    >
    </cylinder-tracker-spares-list>
  </div>
  <div class="col-50">
    <cylinder-tracker-spares-details
      [cylinder]="selectedCylinder$ | async"
      (saved)="saveCylinder($event)"
      (cancelled)="resetSelectedCylinder()"
    >
    </cylinder-tracker-spares-details>
  </div>
</div>
